$fontPath: '/resource/Fonts';

$fontAll: 'S-CoreDream-Ltd', 'S-CoreDream', 'S-CoreDream-Bold';

/* S Core Dream Fonts */
@font-face {
  font-family: 'S-CoreDream-Ltd';
  font-display: fallback;
  src: url('#{$fontPath}/SCoreDream/SCDream1.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-display: fallback;
  src: url('#{$fontPath}/SCoreDream/SCDream3.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-Bold';
  font-display: fallback;
  src: url('#{$fontPath}/SCoreDream/SCDream5.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}
